/* Channel Page*/
* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI";
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
.container {
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 54%,
    rgba(0, 212, 255, 1) 100%
  );
  width: 100vw;
  height: 100vh;
}
.nav_container {
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.top_navbar {
  display: flex;
  padding: 20px 40px;
  justify-content: center;
  margin-bottom: 10px;
}

.top_navbar > .channel_clipboard > ion-icon {
  text-align: center;
  font-size: 30px;
}

.right_navbar {
  display: flex;
  flex-direction: row;
  position: absolute;
  right: 0;
}

.channel_name {
  margin-right: 10px;
  font-size: 1.5rem;
}
.channel_clipboard {
  margin-left: 10px;
  cursor: pointer;
}

.right_navbar > div {
  margin-right: 20px;
}

.right_navbar > div > .nav__icon {
  font-size: 40px;
  cursor: pointer;
}

.view_container {
  flex: 1;
  display: flex;
}

.view {
  width: 80vw;
  height: 450px;
  border-radius: 30px;
  background: #000;
  margin: 5px;
}

.bottom_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  bottom: 0;
  margin-top: 15px;
  margin-bottom: 15px;
}
.bottom_container > div > ion-icon {
  font-size: 30px;
  margin-right: 20px;
  cursor: pointer;
}

.video__box {
  flex: 0.7;
  padding: 20px;
  width: 1000px;
  height: 100%;
  /* box-shadow: 1px 1px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.nav__overray__box {
  flex: 0.3;
}

.video__view {
  margin: 5px;
}
.video__remote__view {
  margin: 5px;
}

#screen__player {
  margin: 5px;
}
