.chat__container {
  display: flex;
  flex-direction: column;

  width: 450px;
  height: 100%;
}

.MuiDrawer-root > .MuiDrawer-paper {
  margin-top: 100px;
  height: 600px;
  flex-direction: inherit;
}

.top__groupbar {
  flex: 0.1;
  display: flex;
  flex-direction: center;
  background-color: lightgray;
}

.chat__message {
  flex: 0.8;
  flex-direction: center;
  background-color: #fff;
}

.chat__footer {
  flex: 0.1;
  display: flex;
  align-items: center;
  background-color: gray;
  bottom: 0;
}
