/*
  Main Page
*/

* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI";
}

body {
  width: 100%;
  height: 100%;
  background: rgb(255, 255, 255);
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 54%,
    rgba(0, 212, 255, 1) 100%
  );
  background-size: cover;
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.row_container {
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

.title {
  width: 581px;
  white-space: nowrap;
  text-align: center;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  color: #000;
}

#title_copyright span {
  font-size: 2em;
  color: #00aefc;
  font-weight: bold;
}

.btn_container {
  margin: 0 auto;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btn_container .row {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
}

#Name_Your_Channel_input {
  width: 35vw;
  height: 5vh;
  background: #fff;
  border-radius: 20px;
  border: 2px solid #00aefc;
  margin-bottom: 2vh;
  padding: 8px;
  text-align: center;
  outline: none;
}

#Create_Channel {
  width: 35vw;
  height: 5vh;
  background: #7fd6fd;
  border-radius: 20px;
  border: none;
  margin-bottom: 2vh;
  padding: 8px;
  text-align: center;
  outline: none;
  color: #fff;
  cursor: pointer;
}

#Create_Channel span {
  vertical-align: middle;
}

#Channel_ID_URL {
  width: 35vw;
  height: 5vh;
  background: #fff;
  border-radius: 20px;
  border: none;
  margin-bottom: 2vh;
  padding: 8px;
  text-align: center;
  outline: none;
  color: #00aefc;
  border: 2px solid #00aefc;
  cursor: pointer;
}

#Channel_ID_URL span {
  vertical-align: middle;
}

#footer {
  margin-top: 40px;
  display: contents;
}
