@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  overflow-x: hidden;
}

.container {
  position: relative;
  width: 100%;
}

.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background: black;
  transition: 0.5s;
  overflow-y: auto;
}

.navigation.active {
  width: 60px;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  width: 100%;
  list-style: none;
  margin-bottom: 20px;
}

.navigation ul li:nth-child(1) {
  margin-bottom: 20px;
}

.navigation ul li:nth-child(1):hover {
  background: transparent;
}

.navigation ul li {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;
}

.navigation ul li .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  white-space: nowrap;
}

.navigation ul li .title img {
  width: 100%;
  height: 100%;
}

.navigation ul li .view__container {
  width: 100%;
  height: 200px;
}

.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background: #f5f5f5;
  transition: 0.5s;
}

.main.active {
  width: calc(100% - 30px);
  left: 60px;
}

.main .topbar {
  width: 100%;
  background: black;
  height: 60px;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.toggle::before {
  content: "\f0c9";
  font-family: fontAwesome;
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 60px;
  font-size: 24px;
  text-align: center;
  color: #111;
}

.setting {
  position: relative;
  min-width: 50px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.setting img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cardBox {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.cardBox .card {
  position: relative;
  background: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
}

.cardBox .card ion-icon {
  width: 50px;
  height: 50px;
}

.track {
  position: relative;
  width: 100%;
  padding-top: 0;
  display: grid;
}

.track .videoTrack {
  position: relative;
  min-height: 1000px;
  background: #fff;
  padding: 20px;
}

.track .videoTrack .view__container {
  width: 100%;
  height: 100%;
}

.track .videoTrack .view__container .stream__container {
  position: absolute;
}

.track .videoTrack .view__container .stream-uid {
  padding: 2px 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: relative;
  border-radius: 28px;
  max-width: 100px;
  max-height: 20px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  font-size: 12px;
  font-family: HelveticaNeue;
  color: rgba(255, 255, 255, 1);
  line-height: 14px;
}

@media (max-width: 992px) {
  .navigation {
    left: -300px;
  }

  .navigation.active {
    left: 0;
    width: 300px;
  }

  .main {
    width: 100%;
    left: 0;
  }

  .main.active {
    width: calc(100% - 300px);
    left: 300px;
  }

  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .track {
    grid-template-columns: repeat(1, 1fr);
  }

  .cardHeader h2 {
    font-weight: 600;
    font-size: 18px;
  }
}

@media (max-width: 480px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }

  .track .videoTrack {
    overflow-x: auto;
  }

  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }

  .navigation.active {
    width: 100%;
    left: 0%;
  }

  .toggle .menuOutline {
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 10%;
  }

  .toggle.active {
    position: fixed;
    z-index: 10000;
    right: 0;
    left: initial;
  }

  .main,
  .main.active {
    width: 100%;
    left: 0;
  }
}
